<!doctype html>
<html>
<head>
    <title>FLCos</title>

    {{{_sections.head}}}
    <link rel="stylesheet/less" href="/vendor/Bootstrap/css/bootstrap.css" media="all" />
    <link rel="stylesheet" href="/stylesheets/style.css" media="all" />
    <style>


    </style>

</head>
<body>
{{{body}}}
<script src="/vendor/less.min.js"></script>
<script src="/vendor/jquery/jquery-1.9.1.js"></script>
<script src="/vendor/socket.io.js"></script>
<script src="/vendor/Bootstrap/js/bootstrap.min.js"> </script>
<script src="/vendor/angular.min.js"> </script>
<script src="/vendor/Bootstrap/js/bootstrap-combobox.min.js"></script>

<!--<script>-->
    <!--var socket = io('http://localhost:3000');-->
    <!--socket.on('connect', function(){$('h1').html('connected');});-->
    <!--socket.on('event', function(data){});-->
    <!--socket.on('disconnect', function(){});-->
    <!--socket.on("message_to_client", function(data) {-->
        <!--$('h1').html('received message from server \n' + data['message']);-->
    <!--});-->
    <!--function sendMessage() {-->
        <!--var msg = $('#message_input').val();-->
        <!--socket.emit("message_to_server", { message : msg});-->
    <!--}-->
<!--</script>-->
{{{_sections.jquery}}}
</body>
</html>